[Desktop Entry]
Name=Bluedis
Exec=bluedis
Icon=${SNAP}/meta/gui/bluedis.png
Type=Application
Version=0.2.2
Terminal=false
Categories=Development;Utility;
Comment=An elegant Redis interface